<h1>Images#index</h1>
<p>Find me in app/views/images/index.html.erb</p>


<% @images.each do |image| %>
 <%= image.en_title %>
 <%= image.ja_title %>
 <%= image.en_content %>
 <%= image.ja_content %>
 <%= image.url %><br>
<% end %>